<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta content="webkit" name="renderer" />
  <link rel="icon" href="./logo.png" />
  <title>
    <%= htmlWebpackPlugin.options.templateParameters.title %>
  </title>
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
</head>

<body>
  <noscript>
    <strong>
      We're sorry but the project doesn't work properly without JavaScript enabled. Please enable it to continue.
    </strong>
  </noscript>
  <div id="app" style="display: none"></div>
  <span id="loader" class="loader"></span>
  <style>
    .loader {
      width: 48px;
      height: 48px;
      border: 5px solid;
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
      border-top-color: #999;
      border-left-color: #999;
      border-right-color: #999;
      position: absolute;
      top: calc(50% - 48px);
      left: calc(50% - 48px);
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  </style>
</body>

</html>
